{% extends 'base.html.twig' %}
{% block content %}

        <ul>
            <a href="admin/usermanagement">User Management</a> </li> <br />
            <hr>
            <a href="admin/productmanagement">Product Management</a> </li>
        </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}