{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css"></style>
{% endblock %}
{% block content %}

    <h1>Login as Admin</h1>


{% endblock %}